@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap");

.bayan:hover .option:hover .bayan_mem,
.bayan .option--default .bayan_mem {
  display: flex;
  justify-content: center;
  height: 100%;
}

.bayan_mem,
.bayan:hover .bayan_mem {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

*,
body {
  box-sizing: border-box;
  font-family: "Lora", serif;
}
body {
  background-color: beige;
  min-height: 100vh;
  padding: 5% 20%;
}
html {
  scroll-behavior: smooth;
}
.bayan {
  max-width: 100%;
  cursor: pointer;
  color: blue;
}
.bayan:hover {
  color: black;
}
.option {
  border-top-style: ridge;
}
.bayan_label {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: 900;
  cursor: pointer;
}
.bayan_mem img {
  width: 15rem;
  height: auto;
}
.bayan_input {
  display: none;
}
.bayan_input:checked ~ .bayan_mem {
  display: flex;
  justify-content: center;
  height: 100%;
}
.bayan_input:checked ~ .bayan_label img {
  transform: rotate(45deg);
  transition: 0.5s;
}
.bayan:hover .option:hover .bayan_label img,
.bayan .option--default .bayan_label img {
  transform: rotate(45deg);
  transition: 0.5s;
}
.bayan_input:checked ~ .bayan_label {
  color: black;
}
