@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
body {
  background-color: beige;
  min-height: 100vh;
  padding: 5% 15%;
}
html {
  scroll-behavior: smooth;
}
.bayan {
  max-width: 35rem;
  overflow: hidden;
  cursor: pointer;
  color: blue;
}
.bayan_label {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-weight: 900;
  cursor: pointer;
}
.plus {
  display: block;
}
.bayan:hover {
  color: black;
}
.bayan_mem {
  display: flex;
  justify-content: center;
  display: none;
}
.bayan_mem img {
  width: 25rem;
  height: auto;
}
.bayan_input {
  display: none;
}
.bayan_input:checked ~ .bayan_mem {
  display: flex;
}
.bayan_input:checked ~ .plus {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition: 0.1s;
  display: inline-block;
}
